<div class="center jumbotron">
  <h1>About</h1>
  <p>※このアプリケーションは開発途中です</p>

</div>
  <h3>
    cosmepostsはコスメポーチとコスメをアップロードして共有するSNSアプリケーションです。<br><br>
    
    [実装済みの機能]
    <ul>
      <li>新規ユーザー登録</li>
      <li>ログイン</li>
      <li>画像投稿、削除 (AWS利用)</li>
    </ul><br>

    ログイン後に画像の投稿ができます。<br>
    以下のサンプルアカウントを利用、もしくは新規ユーザー登録をしてください。<br>
    Email: example@example.com<br>
    Password: password<br><br>
    
    開発予定のサイトマップ、ER図、ワイヤーフレームは以下でご覧いただけます。<br>
    <a href = "https://cacoo.com/diagrams/Biswwn6HVdQSt9ZG">https://cacoo.com/diagrams/Biswwn6HVdQSt9ZG</a>
  </h3>